# 컴파일 및 빌드 산출물
*.o
*.out
*.exe
a.out

# 모든 하위 폴더 내 확장자 없는 바이너리 실행 파일 무시 규칙
*Assignment/*
!*Assignment/*.*
!*Assignment/**/*.c
!*Assignment/**/*.h
!*Assignment/**/*.md
!*Assignment/**/*.txt

# VS Code 및 시스템 임시 파일
.vscode/
*.dSYM/
